In [3]:
#importar pandas
import pandas as pd

#importar csv con base de datos
schools = pd.read_csv("schools.csv")

#preview
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [12]:
#best math schools

bets_math_schools = schools[schools["average_math"]>=800*0.8][["school_name","average_math"]].sort_values(by="average_math",ascending=False)
print(bets_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [14]:
#top 10

schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_10 = schools[["school_name", "total_SAT"]].sort_values(by="total_SAT",ascending=False).head(10)
print(top_10)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [21]:
#Borough with largest std

largest_std_dev = schools.groupby("borough")["total_SAT"].agg(["count","mean","std"]).round(2).sort_values(by="std",ascending=False)


largest_std_dev= largest_std_dev.rename(columns={"count":"num_schools","mean":"average_SAT","std":"std_SAT"})

largest_std_dev.head(1)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29